/* Colores personalizados */

header.masthead {
    background-image: url('img/img1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* Ajusta la altura según sea necesario */
    position: relative;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.estilo-nuevo {
    background-color: #f8f9fa;
    /* Fondo claro */
    color: #6a6969;
    /* Texto oscuro */
}

/*sobre mi*/
.estilo-nuevo .bg-primary {
    background-color: #436e93 !important;
    /* Azul personalizado */
}

.estilo-nuevo .text-primary {
    color: #5b646f !important;
    /* Azul personalizado */
}

/*linia divisora*/
.estilo-nuevo .divider {
    background-color: #343a40 !important;
}

/* Otros colores personalizados */

.estilo-nuevo .bg-dark {
    background-color: #436e93 !important;
}

.estilo-nuevo .text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
}

/* Encabezado personalizado */
.estilo-nuevo .masthead h1 {
    font-size: 3rem;
    font-weight: 700;
}

.estilo-nuevo .masthead .btn {
    background-color: #436e93;
    color: #fff;
}

/* Sección About personalizada */
.estilo-nuevo #about {
    background-color: #124654;
}

.estilo-nuevo #about h2 {
    color: #fff;


}

.estilo-nuevo #about p {
    color: rgba(255, 255, 255, 0.75);
}

.estilo-nuevo #about .btn {
    background-color: #fff;
    color: #124654;
}

/* Sección de Contacto personalizada */
.estilo-nuevo #contact h2 {
    color: #124654;
}

.estilo-nuevo #contact .form-control {
    border-color: #124654;
}

.estilo-nuevo #contact .btn-primary {
    background-color: #436e93;
    border-color: #000000;
}

.estilo-nuevo #contact .btn-primary:hover {
    background-color: #124654;
    border-color: #454546;
}

/* Footer personalizado */
.estilo-nuevo footer {
    background-color: #f8f9fa;
    color: #124654;
}

.estilo-nuevo .social-icons a {
    color: #124654;
    margin: 0 10px;
}

.estilo-nuevo .social-icons a:hover {
    color: #124654;
}

.mdi--database {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3C7.58 3 4 4.79 4 7s3.58 4 8 4s8-1.79 8-4s-3.58-4-8-4M4 9v3c0 2.21 3.58 4 8 4s8-1.79 8-4V9c0 2.21-3.58 4-8 4s-8-1.79-8-4m0 5v3c0 2.21 3.58 4 8 4s8-1.79 8-4v-3c0 2.21-3.58 4-8 4s-8-1.79-8-4'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon-park-solid--add-web {
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cdefs%3E%3Cmask id='ipSAddWeb0'%3E%3Cg fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M25 40H7a3 3 0 0 1-3-3V11a3 3 0 0 1 3-3h34a3 3 0 0 1 3 3v13.941'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='4' d='M4 11a3 3 0 0 1 3-3h34a3 3 0 0 1 3 3v9H4z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='4' d='M32 35h12m-6-6v12'/%3E%3Ccircle r='2' fill='%23000' transform='matrix(0 -1 -1 0 10 14)'/%3E%3Ccircle r='2' fill='%23000' transform='matrix(0 -1 -1 0 16 14)'/%3E%3C/g%3E%3C/mask%3E%3C/defs%3E%3Cpath fill='%23000' d='M0 0h48v48H0z' mask='url(%23ipSAddWeb0)'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}